<h1 class="text-danger" id="page-header">Comedians</h1>
<section id="statistics">
  <p class="text-light">Average Comedian Age: <%= @comedians.average_age %> yrs old</p>
  <p> class="text-light">Average Length for Specials: <%= @specials.average_length %> min</p>
</section>
<section class="comedians-container">
  <% @comedians.each do |comedian| %>
    <section class="comedian-item" id="comedian-<%=comedian.id%>">
      <h3 class="p-3 mb-2 bg-dark text-light"><%= comedian.name %></h3>
      <p class="text-danger">Age: <%= comedian.age %></p>
      <p class="text-danger">City: <%= comedian.city %></p>
      <% comedian.specials.each do |special| %>
        <section class="special-container">
          <section class="special-item">
            <img class="thumbnail" src="<%= special.thumbnail %>" alt="<%= special.name %> image">
          </section>
          <section class="special-item" id="special-info">
            <p class="text-light"> <%= special.name %></p>
            <p class="text-muted">Length: <%= special.run_time %> min</p>
          </section>
        </section>
      <% end %>
    </section>
  <% end %>
</section>
